.cover__link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-image: url(../../../images/railway-transib.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 740px;
    position: relative;
}

@media (max-width: 1100px) {
    .cover__link {
        min-height: 690px;
    }
}

@media (max-width: 1024px) {
    .cover__link {
        min-height: 640px;
    }
}

@media screen and (max-width: 925px) {
    .cover__link {
        min-height: 580px;
    }
}

@media screen and (max-width: 825px) {
    .cover__link {
        min-height: 480px;
    }
}

@media screen and (max-width: 750px) {
    .cover__link {
        min-height: 400px;
    }
}

@media screen and (max-width: 650px) {
    .cover__link {
        min-height: 350px;
    }
}

@media screen and (max-width: 550px) {
    .cover__link {
        min-height: 300px;
    }
}

@media screen and (max-width: 450px) {
    .cover__link {
        min-height: 250px;
    }
}

@media screen and (max-width: 350px) {
    .cover__link {
        min-height: 200px;
    }
}



.cover__link:hover:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #2A2C2F;
    opacity: 0.8;
    z-index: 1;
}

.cover__link:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #2A2C2F;
    opacity: 0.3;
    z-index: 1;
}