.lead {
    width: 77.5%;
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    align-items: center;
    padding-top: 60px;
}

@media (max-width: 1024px) {
    .lead {
        width: 90%;
        padding-top: 45px;
    }
}

@media (max-width: 825px) {
    .lead {
        width: 100%;
    }
}

