.intro__container {
    margin: 0;
    justify-self: left;
    width: 70%;
}

@media (max-width: 1024px) {
    .intro__container {
        width: 75%;
    }
}

@media (max-width: 825px) {
    .intro__container {
        width: 100%;
    }
}