.lead__title {
    margin: 0 0 35px 0;
    width: 72.5%;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}

@media (max-width: 1024px) {
    .lead__title {
        width: 77.5%;
    }
}

@media (max-width: 825px) {
    .lead__title {
        width: 93.5%;
    }
}

@media (max-width: 725px) {
    .lead__title {
        width: 90%;
        margin: 0 0 15px 0;
        font-size: 40px;
        line-height: 44px;
    }
}