.intro {
    width: 85%;
    margin: 0;
    padding-top: 95px;
}

@media (max-width: 1024px) {
    .intro {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .intro {
        width: 100%;
        padding-top: 65px;
    }
}

