.intro {
    width: 85%;
    margin: 0;
    padding-top: 90px;
}

@media (max-width: 1024px) {
    .intro {
        width: 93.5%;
    }
}

@media (max-width: 725px) {
    .intro {
        padding-top: 65px;
    }
}

