.lead__caption {
    margin: 10px 0 0 0;
    justify-self: left;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media (max-width: 825px){
    .lead__caption {
        margin: 10px 0 0 3.5%;
    }
}

@media (max-width: 725px) {
    .lead__caption {
        margin: 10px 0 0 5%;
    }
}