.place {
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 45% calc(55% - 45px);
    grid-template-rows: repeat(155px 460px);
    padding-bottom: 80px;
    box-sizing: border-box;
    gap: 45px;
}

@media (max-width: 768px) {
    .place {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    }
}