.footer {
    padding-top: 95px;
    margin: 0;
    width: 95%;
    display: flex;
	justify-content: space-between;
}

@media (max-width: 1024px) {
    .footer {
        padding-top: 90px;
    }
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        padding-top: 60px;
    }
}